# dependencias
node_modules/

# Next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# Supabase local
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db

# TypeScript build info
tsconfig.tsbuildinfo

# editor
.vscode/
.idea/
